<h1><%= @user.username %></h1>

<%# link to all of the posts they've commented on %>
<% posts = @user.posts.map {|post| post}.uniq %>
<% posts.each do |post| %>
  <%= link_to post.title, post %>
<% end %>
